button, input[type="button"], input[type="reset"], input[type="submit"] {
	border: 1px solid;
	border-color: $brand-primary;
	background: $brand-primary;
	color: white;
	padding: 8px;
	line-height: 1.625;
	border-radius: 0;
	display: block;
	width: 100%;
	box-sizing: border-box;

	&:hover {
		outline: 0;
	}

	&:active,
	&:focus {
		outline: 0;
	}
}