#primary-menu {
	float: left;
	width: 100%;
}

.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop {

	&:before {
		content: "";
		position: absolute;
		border-top: 2px solid black;
		max-width: 100%;
		top: 0;
		left: 20px;
		right: 20px;
	}
}

.ubermenu.ubermenu-main {
	
	.ubermenu-item-level-0 {
		
		.ubermenu-target {
			padding: 0 20px;
			line-height: 6;
		}

		&.ubermenu-current-page-ancestor {
			
			.ubermenu-target {
				color: $brand-primary;
			}
		}
	}
}

.ubermenu {

	h3.ubermenu-widgettitle {
		font-weight: 400;
		margin: 0 0 5px 0;
		text-transform: uppercase;
		color: #1ca75e;
		font-size: 18px;
		margin-bottom: 20px;
		padding: 0;
		line-height: normal;
		padding: 0;
		color: $brand-primary;
	}

	.textwidget {
		font-size: 14px;
	}

	h3.widget-title, li, a {
		margin: 0;
		font-size: 14px;
		font-weight: 400;
		color: #3B3C43;
		line-height: 2;
		text-transform: capitalize;
	}

	h3.widget-title {
		font-weight: 600;
		border-bottom: 2px solid;

		a {
			font-weight: inherit;
		}
	}

	.ubermenu-nav .ubermenu-column-1-2 {
		width: 100% !important;
	}

	.ubermenu-submenu .ubermenu-column {
		padding-top: 0;
		padding-bottom: 0;

		ul {
			list-style-type: none;
			margin: 0;

			li {
				//border-bottom: 2px solid;
			}
		}
	}

	.ubermenu-submenu {
		padding-top: 20px;
		padding-bottom: 20px;

		.cpo {

			ul {
				list-style-type: none;
				margin: 0;

				li {
					border-bottom: 2px solid;
				}
			}
		}
	}

}

.ubermenu-submenu {
	padding: 20px 0;
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		float: left;
		width: 100%;
		text-align: right;


		.sub-menu-wrap {
			float: left;
			position: absolute;
			@include rem(top, 15px);
			@include rem(left, -9999px);
			z-index: 99999;

			.sub-menu {

			}

			ul {
				@include rem(left, -9999px);
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				@include rem(width, 200px);
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > .sub-menu-wrap,
		li.focus > .sub-menu-wrap {
			padding: 20px;
			left: 0;
			top: 73px;
			width: 100%;

			.sub-menu {
				@include outer-container();
				background: #fff;
				padding: 20px;
				padding-top: 0;
				float: none;
				margin-top: 11px;
				box-sizing: border-box;

				.jsn-bootstrap3 {
					@include outer-container();
				}

				.sub-items {
					border-top: 2px solid black;
					padding-top: 20px;
				}

				li {
					text-align: left;

					a {

					}
				}
			}
		}
	}

	li {
		float: none;
		position: relative;
		display: inline-block;
		margin-right: 20px;

		&#menu-item-30 {
			position: initial;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&.search-link {
			margin-left: 20px;

			a:before {
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				margin-right: 10px;

				// search icon
				content: "\f002";
			}
		}

		&:hover > a,
		&.focus > a {
			color: $color-link;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $color-nav;
		text-transform: uppercase;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color-link;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@include media ($medium-screen-up) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		@include rem(margin, 0 0 15px);
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
