/*==============================
=            Footer            =
==============================*/

#colophon {
	background: #3a3c42;
	padding: 50px 0;

	.column {
		@include span-columns(1);

		@include media($medium-screen-up) {
			@include span-columns(2);
		}
		@include media($large-screen-up) {
			@include span-columns(3);
		}
	}

	.logo {
		margin-bottom: 20px;
		
		@include media($medium-screen-up) {
			margin-bottom: 0;
		}
	}

	.menu {

		ul {margin: 0;
			list-style: none;

			li {
				margin-bottom: 5px;

				&:last-of-type {
					margin-bottom: 0;
				}

				a {
					color: white;
					font-size: 18px;
				}
			}
		}
	}
}