.sticky {
	display: block;
}

.hentry {
	margin: 0;;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	@include rem(margin, 0);
}

.page-links {
	clear: both;
	@include rem(margin, 0);
}

.breadcrumbs {
	padding: 10px 0;
	font-size: 14px;
	color: $text-color;

	a {
		color: $text-color;
	}
}

.title {
	h1 {
		color: $brand-primary;
		text-transform: uppercase;
		font-size: 40px;
		margin: 20px 0;
	}
}

.pika-button {
	text-align: center;
	background: #f9f9f9;

	&:hover {
		background: $brand-primary;
		border-radius: 0;
	}
}

.is-today .pika-button {
	background: $brand-primary;
	color: white;
}

/*==============================
=            SLiDER            =
==============================*/

.slider{
	margin: 0;
	position: relative;

	.arrow-box {
		position: absolute;
		bottom: 180px;
		width: 100%;
		z-index: 99;
		color: white;

		button {
			width: auto;
			height: auto;
			margin: 0;
			top: 0;
			transform: inherit;

			.fa {
				font-size: 54px;
				color: white;
			}
		}
	}

	.slide {
		position: relative;

		.caption {
			position: absolute;
			bottom: 70px;
			width: 100%;
			z-index: 99;
			color: white;
			text-align: center;

			h2 {
				font-size: 80px;
				text-transform: uppercase;
				margin: 0 0 20px 0;
				line-height: 1;
			}

			h3 {
				font-size: 22px;
				text-transform: uppercase;
				line-height: 1;
				margin: 0;
			}
		}

		.image {
			width: 100%;
			display: block;
		}
	}
}

/*===============================
=            EXPLORE            =
===============================*/

#explore {
	padding: 50px 0;

	.slider {

		.es-slides {
			position: relative;

			.slide {
				position: relative;
			}

			.slick-dots {
				position: absolute;
				bottom: 0;
				right: 0;
				width: auto;
				list-style: decimal;
				z-index: 999;

				li {
					color: white;
					width: inherit;
					margin: 0;
					display: list-item;
					float: left;
					height: 25px;

					button {
						opacity: 0;
					}
				}
			}

			.caption {
				text-align: left;
				position: absolute;
				bottom: 0;
				width: 100%;
				line-height: 2;
				font-size: 13px;
				color: white;
				background: rgba(0, 0, 0, 0.5);
				text-indent: 5px;
			}
		}
	}

	.content {
		margin-top: 25px;

		header {
			@include span-columns(1);

			@include media($medium-screen-up) {
				@include span-columns(4);
			}
			@include media($large-screen-up) {
				@include span-columns(3);
			}

			h1, h2, {
				color: $brand-primary;
				font-size: 40px;
				text-transform: uppercase;
				line-height: 1;
				margin: 0;
			}
		}

		.intro {
			@include span-columns(1);

			@include media($medium-screen-up) {
				@include span-columns(4);
			}
			@include media($large-screen-up) {
				@include span-columns(5);
			}

			p {
				line-height: 1.2;
				font-size: 17px;
			}
		}
	}
}

/*============================
=            PLAN            =
============================*/

#plan {
	padding: 50px 0;

	header {

		h1, h2, {
			color: $brand-primary;
			font-size: 40px;
			text-transform: uppercase;
			line-height: 1;
			margin: 0;
		}
	}

	.map-box {
		padding-top: 50px;

		.intro{
			width: 25%;
			padding: 25px;
			float: left;
			height: 700px;
			background: #3a3c42;
			color: white;

			h3 {
				text-transform: uppercase;
				font-size: 17px;
				margin: 20px 0 0 0;
			}

			p {
				color: white;
				line-height: 1.2;
				font-size: 17px;
			}

			.accordion {
				margin: 0;

				dt, dd {
					padding: 10px 0;
					border-top: 1px solid white;
					border-bottom: 0; 
					color: white;
					line-height: 1.2;
					font-size: 14px;
					text-transform: capitalize;
					font-weight: normal;
					margin: 0;
					position: relative;
		
					&:last-of-type {
						border-bottom: 1px solid white; 
					}

					.fa {
						position: absolute;
						right: 0;
						top: 11px;
						z-index: 0;
					}
			
					a {
						display: block;
						color: white;
					}
				}
			
				dd {
					border-top: 1px solid #666;

					a {
						line-height: 1.6;
					}
						
					&:last-of-type {
						position: relative;
						top: -1px;
					}
				}
			}
		}

		.map {
			width: 75%;
			float: left;
		}
	}
}

/*======================================================
=            EVENTS / WHATS ON / BUSINESSES            =
======================================================*/

#whatson {

	.content {

		header {
			margin-top: 25px;
			margin-bottom: 25px;

			h2 {
				color: $brand-primary;
				font-size: 40px;
				text-transform: uppercase;
				line-height: 1;
				margin: 0;
			}
		}

		.filters {
			margin-bottom: 40px;
			@include row;

			.colunn {
				@include span-columns(1);

				@include media($medium-screen-up) {
					@include span-columns(2.66);
					@include omega(3n);
				}
				@include media($large-screen-up) {
					@include span-columns(4);
				}
			}

			input, select {
				margin: 0;
			}

		}

		.events {
			.event {
				@include span-columns(1);
				margin-bottom: 20px;

				@include media($medium-screen-up) {
					@include span-columns(2.66);
					@include omega(3n);
					margin-bottom: 25px;
				}
				@include media($large-screen-up) {
					@include span-columns(4);
					margin-bottom: 30px;
				}

				.meta {

					ul {
						float: left;
						width: 100%;
						list-style: none;
						margin: 0;
						font-size: 13px;

						li {
							float: left;
							width: 30%;

							&.price {
								text-align-last: right;
								width: 70%;
							}
						}
					}
				}

				h3 {
					color: $brand-primary;
					border-bottom: 1px solid black;
					margin: 10px 0 7px 0;
					padding: 0 0 7px 0;
					font-size: 17px;
				}

				a {
					display: block;
					margin-top: 10px;
					color: black;
					font-size: 14px;
				}
			}
		}
	}
}

/*============================================
=            SOCIAL WALL TEMPLATE            =
============================================*/

.page-template-template-social {

	#primary {

		#main {
			padding: 50px 0;
		}

		.logo {
			@include span-columns(1);

			@include media($medium-screen-up) {
				@include span-columns(2);
			}
			@include media($large-screen-up) {
				@include span-columns(1.5);
			}
		}
		.column {
			@include span-columns(1);

			@include media($medium-screen-up) {
				@include span-columns(6);
			}
			@include media($large-screen-up) {
				@include span-columns(9);
				@include shift(1.5);
			}

			h1 {
				font-size: 26px;
				text-transform: uppercase;
				margin: 0 0 10px 0;
				color: $brand-primary;
			}
		}
	}

	#social {
		#timeline_wall1.sboard.sb-modern2 {
			.sb-item {
				.sb-info { 
					a {
						line-height: 25px;
					}
				}
			}
		}
	}
}
