/*================================
=            Search            =
================================*/

.search {

	#header {
		
		.page-title {
			margin: 20px 0 40px 0;
			text-transform: uppercase;
			font-size: 36px;
			line-height: 1;
			color: $brand-primary;
		}
	}

	#counters {
		
		.column {
			width: 50%;
			float: left;
			padding-top: 10px;
			padding-bottom: 10px;
			color: $brand-primary;
			text-transform: uppercase;

			.wp-pagenavi {
				text-align: right;

				span, a {
					margin-left: 5px;
				}

				a {
					border-left: 1px solid #333;;
					padding-left: 5px;
					color: #333;
				}

				.page {

					&:last-of-type {
						padding-right: 0;
						border-right: 0;
					}
				}

				.pages {
					color: $brand-primary;
				}

				.current {
					border-left: 1px solid #333;
					padding-left: 5px;
					color: $brand-primary;
					font-weight: 700;
				}
				
				.nextpostslink, .previouspostslink {
					display: none;
				}
			}
		}
	}

	#main {
		padding-top: 40px;

		article {
			@include span-columns(1);
			margin-bottom: 30px;

			@include media($medium-screen-up) {
				@include span-columns(2);
				@include omega(4n);
			}
			@include media($large-screen-up) {
				@include span-columns(3);
			}

			img {
				display: block;
			}

			h2, h3 {
				margin: 0 0 5px 0;
				border-bottom: 2px solid black;
				padding-bottom: 5px;
				font-size: 18px;
			}

			a {
				display: block;
				font-size: 13px;
				color: black;
				font-weight: 800;
				margin-top: 10px;
			}
		}
	}
}
