/*=============================
=            SHOWS            =
=============================*/

.single-shows, .single-businesses {

	#primary {

		.column {
			@include span-columns(1);

			@include media($medium-screen-up) {
				@include span-columns(6);
			}
			@include media($large-screen-up) {
				@include span-columns(8.5);
			}

			.entry-content {
				margin-bottom: 20px;
				
				p {
					font-size: 25px;
					line-height: 1.2;
				}
			}
		}

		#main {
			padding: 0 0 50px 0;

			.column {
				@include span-columns(1);

				@include media($medium-screen-up) {
					@include span-columns(6);
				}
				@include media($large-screen-up) {
					@include span-columns(8.5);
				}

				.entry-content {
					margin-bottom: 20px;
					
					p {
						font-size: 25px;
						line-height: 1.2;
					}
				}

				.row {

					img {
						display: block;
						width: 100%;
						margin-bottom: 20px;
					}

					.caption {
						@include span-columns(1);

						@include media($medium-screen-up) {
							@include span-columns(2 of 6);
						}
						@include media($large-screen-up) {
							@include span-columns(2 of 8.5);
						}
					}

					.copy {
						@include span-columns(1);

						@include media($medium-screen-up) {
							@include span-columns(4 of 6);
						}
						@include media($large-screen-up) {
							@include span-columns(6.5 of 8.5);
						}

						p {
							font-size: 16px;
						}
					}
				}
			}

			aside {
				@include span-columns(1);

				@include media($medium-screen-up) {
					@include span-columns(2);
				}
				@include media($large-screen-up) {
					@include span-columns(3.5);
				}

				.map {
					height: 300px;
				}

				div {
					margin-bottom: 20px;

					h3 {
						border-bottom: 2px solid black;
						font-size: 16px;
						margin: 0 0 5px 0;
						text-transform: uppercase;
						color: $brand-primary;
					}

					i.fa {
						display: inline-block;
						color: white;
						background: green;
						width: 30px;
						line-height: 30px;
						text-align: center;
						border-radius: 50%;
						margin-bottom: 10px;
						margin-right: 5px;
					}
				}
			}
		}
	}

}